.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slideshow {
  max-width: 100%;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 800ms;
}

@media screen and (min-width: 320px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
