.slide {
  display: inline-block;
  width: 100%;
  height: 20rem;
}

.card {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
  width: 100%;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
  border-radius: 0.2rem;
  overflow: hidden;
}

.image {
  width: inherit;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: pre-wrap;
  width: 100%;
}

/* Arrow icon */
.info > div > a {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
}

.synopsis {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

@media screen and (min-width: 320px) {
  .slide {
    height: 100%;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10rem, 20rem) 1fr;
    gap: 1rem;
  }
  .anchorContainer {
    height: 100%;
    width: 100%;
  }
  .image {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  .info {
    gap: 0.8rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .synopsis {
    font-size: 1rem;
    line-height: 1.4rem;
    transition: var(--default-transition-time);
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines */
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 480px) {
  .image {
    width: inherit;
    height: inherit;
  }
}

@media screen and (min-width: 600px) {
  .card {
    grid-template-rows: minmax(10rem, 20rem);
    grid-template-columns: 1fr 1fr;
  }
  .image {
    width: inherit;
    height: inherit;
  }
  .anchorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    border-radius: 0.2rem;
    overflow: hidden;
  }
}