.slide {
  display: inline-block;
  width: 100%;
  height: 20rem;
}

.card {
  display: flex;
  gap: 2rem;
  height: 20rem;
  width: 55rem;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 50rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.image {
  min-width: 25.5rem;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: pre-wrap;
  width: 100%;
}

/* Arrow icon */
.info > div > a {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
}

.synopsis {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

@media screen and (min-width: 320px) {
  .slide {
    height: 100%;
  }
  .card {
    flex-direction: column;
    height: inherit;
    width: inherit;
    min-width: inherit;
    gap: 1.5rem;
  }
  .anchorContainer {
    width: 100%;
  }
  .image {
    min-width: 27.5rem;
    object-fit: cover;
  }
  .info {
    gap: 0.8rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .synopsis {
    font-size: 1rem;
    line-height: 1.4rem;
    transition: var(--default-transition-time);
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines */
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 480px) {
  .image {
    min-width: 35rem;
  }
}

@media screen and (min-width: 600px) {
  .slide {
    height: 20rem;
  }
  .card {
    flex-direction: row;
  }
  .image {
    min-width: 31rem;
  }
}