.card {
  display: flex;
  gap: 1rem;
}

.ranking {
  width: 0.5rem;
}

.imgContainer {
  width: 4rem;
  height: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  width: 4rem;
  height: 6rem;
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-weight: 400;
}

.title:hover {
  color: #b0b0b0;
}

.finishedDate {
  font-size: 0.8rem;
}

.type {
  font-size: 0.8rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  background-color: #616161;
}