.card {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}

.ranking {
  width: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.imgContainer {
  width: 4rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.image {
  width: 4rem;
  height: 6rem;
  object-fit: cover;
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-weight: 500;
  transition: var(--default-transition-time);
}

.title:hover {
  color: #b0b0b0;
}

.finishedDate {
  font-size: 0.8rem;
}

.type {
  font-size: 0.8rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  background-color: #616161;
}