.container {
  position: relative;
}

.container > select {
  display: none;
}

.optionsContainer {
  text-align: center;
  position: absolute;
  right: -0.9rem;
  bottom: -12rem;
  width: calc(100% + 4rem);
  border-radius: 0.3rem;
  z-index: 20;
}

.optionItem {
  color: white;
  background-color: rgb(42, 42, 42);
  cursor: pointer;
  padding: 0.5rem 0rem;
}

.optionItem:hover {
  background-color: var(--hover-color);
}

.optionItem:focus-visible {
  outline: 2px solid white;
}

.selectedOption {
  color: white;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  gap: 0.5rem;
  transition: var(--default-transition-time);
}

.selectedOption:hover {
  color: var(--text-hover-color);
}

.selectedOption:hover .filterCarrotContainer > svg > path {
  color: var(--text-hover-color);
  stroke: var(--text-hover-color);
}


.filterCarrotContainer {
  display: flex;
  align-items: center;
}

.filterCarrotContainer > svg {
  width: 1.5rem;
}

.optionSelected {
  background-color: var(--hover-color);
  cursor: default;
}

.optionHidden {
  display: none;
}