.container {
  position: relative;
  z-index: 30;
  cursor: pointer;
  width: max-content;
}

.readMoreSpan {
  display: flex;
  align-items: center;
  height: 100%;
}

.arrowsSlideshow {
  height: 1.5rem;
  width: 1.8rem;
  max-width: 100%;
  overflow: hidden;
}

.arrowsSlider {
  white-space: nowrap;
  display: flex;
  height: 100%;
  transition: ease-in 200ms;
  transform: translate3D(-2.8rem, 0, 0);
}

.arrowsSlide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.whiteArrowSlide {
  margin-right: 1rem;
}

.whiteArrow, .yellowArrow {
  width: 1.6rem;
}

.readMoreSpan {
  color: var(--yellow-color);
  transition: ease-in 150ms;
}

.link {
  display: flex;
  font-size: 1.2rem;
  gap: 0.5rem;
  font-size: 1rem;
}

.link > img {
  height: 1rem;
}

.container:hover .readMoreSpan {
  color: white;
}

.container:hover .arrowsSlider {
  transform: translate3D(0, 0, 0);
}