.container {
  display: flex;
  text-align: left;
  gap: 1rem;
  flex: 1;
  background-color: #232323;
  padding: 0.8rem;
  border-radius: 0.3rem;
  transition: var(--default-transition-time);
}

.container:focus-within {
  outline: 2px solid white;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer > svg {
  width: 1rem;
}

.searchBar {
  position: relative;
  all: unset;
  width: 100%;
  font-size: 0.8rem;
}

.searchBar:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0.8rem 1.2rem;
  }

  .searchBar {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .iconContainer > svg {
    width: 1.4rem;
  }
}