.container {
  display: flex;
  text-align: left;
  gap: 1rem;
  flex: 1;
  background-color: #232323;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.container:focus-within {
  outline: 2px solid white;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer > svg {
  width: 1rem;
}

.searchBar {
  position: relative;
  all: unset;
  width: 100%;
  font-size: 0.8rem;
}