.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.2rem, 1fr));
  justify-content: stretch; 
  gap: 1.5rem;
}