.card {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.imageContainer {
  height: 18rem;
  width: 14.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  flex: 1;
  height: 18rem;
  width: 14.2rem;
  transform: scale(1.05);
}

.textAndTitle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.remainingDays {
  font-size: 0.7rem;
}

.title {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}