.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.imageContainer {
  height: 18rem;
  width: 14.9rem;
  overflow: hidden;
  outline: none;
}

.image {
  flex: 1;
  height: 18rem;
  width: 14.9rem;
  transform: scale(1.05);
}

.imageLink {
  position: absolute;
  border-radius: 0.5rem;
  overflow: hidden;
}

.imageLink:focus-visible {
  outline-style: solid;
  outline: 2px solid white;
  outline-offset: 0px;
}

.remainingDays {
  font-size: 0.7rem;
}

.title {
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  transition: var(--default-transition-time);
}

.title:hover {
  color: var(--link-hover-color);
}