.container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sectionTitle {
  color: var(--yellow-color);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.8rem, 1fr));
  grid-column-gap: 2rem;
}

@media screen and (min-width: 320px) {
  .cardsContainer {
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(5, minmax(0rem, 1fr));
  }
}