.card {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  gap: 1rem;
  height: inherit;
}

.image {
  transform: scale(1.05);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  height: 18rem;
  width: 12rem;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.anchorContainer:focus-visible {
  outline-style: solid;
  outline: 2px solid white;
  outline-offset: 0px;
}

.remainingDays {
  font-size: 0.7rem;
}

.title {
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  transition: var(--default-transition-time);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
}

.title:hover {
  color: var(--text-hover-color);
}

@media screen and (min-width: 320px) {
  .card {
    width: inherit;
    height: 100%;
    gap: 1rem;
  }

  .anchorContainer {
    height: inherit;
    width: inherit;
  }

  .title {
    min-height: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines */
    -webkit-box-orient: vertical;
  }
}