.charactersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.characterCard {
  display: flex;
  gap: 2rem;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.characterType {
  margin-top: 1rem;
}

.characterImgContainer {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 14rem;
  width: 10rem;
}

.characterImg {
  width: 10rem;
  transform: scale(1.05);
}

.charactersBtnContainer {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 0rem 0rem;
}

.charactersBtn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  border-radius: 0.4rem;
  padding: 1.6rem 2.4rem;
  background-color: #686868;
  color: inherit;
  border: none;
  cursor: pointer;
  transition: var(--default-transition-time);
}

.charactersBtn:hover {
  background-color: var(--button-hover-bg-color);
}