.heroContent {
  position: relative;
}

.heroContainer {
  display: flex;
  gap: 2rem;
}

.titleAndRank {
  margin-top: auto;
  margin-bottom: 2rem;
}

.title {
  font-weight: 400;
  font-size: 2.3rem;
}

.rank {
  margin-top: 1rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  height: 17rem;
  width: 13rem;
  overflow: hidden;
}

.animeImg {
  height: 17rem;
  width: 13rem;
  transform: scale(1.05);
  object-fit: cover;
}

.animeScore {
  position: relative;
  margin-right: -2.5rem;
  right: 3.2rem;
  top: 13.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 0.5rem;
  background-color: #616161;
}