.newsContainer {
  margin-top: 4rem;
  width: 100%;
}

.newsCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0rem, 1fr));
  gap: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}

.newsCard {
  display: grid;
  grid-template-rows: minmax(0rem, 0.9fr) 0.2fr;
  width: 100%;
  height: 100%;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.newsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsDate {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.newsTitle {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  transition: var(--default-transition-time);

  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
}

.newsTitle:hover {
  color: var(--link-hover-color);
}