.relatedAnimeContainer {
  margin-top: 4rem;
}

.relatedContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainSeriesContainer, .spinOffsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mainCardsContainer, .spinoffCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0rem, 10rem));
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.mainCard {
  display: grid;
  width: 100%;
  height: 100%;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainType {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.mainName {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  transition: var(--default-transition-time);
  cursor: pointer;
}

.mainName:hover {
  color: var(--link-hover-color);
}