.container {
  gap: 2rem;
  width: inherit;
  height: inherit;
}

.anchorContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.anchorContainer:focus-visible {
  outline-offset: 0px;
}

.heroImage {
  object-fit: cover;
  width: inherit;
  height: 100%;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.date {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.8rem;
}

.moreBtnContainer > div > a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.moreBtnContainer > div > a > img {
  height: 1.2rem;
}

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: -3rem;
  }
  .anchorContainer {
    height: inherit;
    width: inherit;
    overflow: hidden;
  }
  .title {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.7rem;
  }
  .date {
    font-size: 0.9rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 1rem;
  }
  .title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}