.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-max-width);
  padding-top: var(--page-top-bottom-padding);
  padding-bottom: var(--page-top-bottom-padding);
  min-height: 100vh;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .content {
    width: 100%;
  }
}