.container {
  width: var(--page-max-width);
  min-height: 100vh;
}

.backgroundImg {
  position: absolute;
  right: 0rem;
  width: 100%;
  height: 30vh;
  background-color: #393939;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-max-width);
  padding-top: var(--page-top-bottom-padding);
  padding-bottom: var(--page-top-bottom-padding);
  min-height: 100vh;
  gap: 3rem;
}