.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 100%;
}

.anchorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: inherit;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.anchorContainer:focus-visible {
  outline-offset: 0px;
}

.image {
  height: 20rem;
  min-width: 100%;
  object-fit: cover;
}

.date {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 0.9rem;
  font-weight: 400;
}

.title {
  transition: var(--default-transition-time);
  font-size: 1rem;
}

.title:hover {
  color: var(--link-hover-color);
}

.defaultDiv {
  height: 18rem;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    gap: 0.8rem;
    height: 100%;
  }
  .card {
    height: inherit;
    width: inherit;
    justify-content: space-between;
  }
  .anchorContainer {
    height: inherit;
    width: inherit;
    flex: 1;
  }
  .image {
    height: inherit;
    width: inherit;
    transform: scale(1.10);
    object-fit: cover;
  }
}