.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--main-background-color);
  width: inherit;
}

.heroImage {
  display: absolute;
  height: 20vh;
  background-color: #393939;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 4rem;
  padding-top: var(--page-top-bottom-padding);
  padding-bottom: var(--page-top-bottom-padding);
  max-width: var(--page-max-width);
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .content {
    max-width: 100%;
    gap: 3rem;
  }
}