.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  padding-top: var(--page-top-bottom-padding);
  padding-bottom: var(--page-top-bottom-padding);
  width: var(--page-max-width);
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .content {
    max-width: 100%;
    margin-top: -3rem;
  }
}