.container {
  display: grid;
  gap: 2rem;
  border-radius: 0.3rem;
}

.searchAndBtnContainer {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.3rem;
}

.searchBtnContainer {
  position: relative;
  margin-left: -4.4rem;
  right: 1rem;
  top: 0.9rem;
}

.searchBtn {
  all: unset;
  background-color: #686868;
  padding: 0.3rem 0.9rem;
  font-size: 0.7rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: var(--default-transition-time);
}

.searchBtn:hover, .genresBtn:hover,
.genreTag:hover {
  background-color: var(--button-hover-bg-color);
}

.searchBtn:focus {
  outline: 2px solid white;
  border-radius: 10rem;
}

.genresBtn {
  all: unset;
  background-color: #686868;
  padding: 0rem 1.3rem;
  border-radius: inherit;
  font-size: 0.9rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
  transition: var(--default-transition-time);
}

.genresBtn:focus-visible {
  outline: 2px solid white;
}

.carrotContainer {
  display: flex;
}

.carrotActiveColorChange > path {
  stroke: var(--main-background-color);
}

.activeGenresBtn {
  all: unset;
  background-color: var(--yellow-color);
  color: var(--main-background-color);
  padding: 0rem 1.3rem;
  border-radius: inherit;
  font-size: 0.9rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
  transition: var(--default-transition-time);
}

.activeGenresBtn:hover {
  background-color: var(--yellow-hover-color);
}

.genreTagsContainer {
  display: grid;
  gap: 0.8rem;
  transition: var(--default-transition-time);
}

.genreTag {
  border-radius: 10rem;
  background-color: var(--main-background-color);
  transition: var(--default-transition-time);
  color: inherit;
  border: 1px solid #686868;
  cursor: pointer;
}

.genreTag:focus-visible {
  outline-offset: -1px;
  outline: 2px solid white;
  border-radius: 10rem;
}

.active, .active:hover {
  background-color: var(--yellow-color);
  color: var(--main-background-color);
  border: 1px solid transparent;
}

@media screen and (min-width: 0px) {
  .genresBtn {
    background-color: #4D4D4D;
  }
  
  .genreTag {
    padding: 0.7rem 0rem;
  }

  .genreTagsContainer {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}