.container {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: var(--yellow-color);
}

.titleAndFilter {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

/* Infinite Scroll Component - Holds all cards */
.infiniteScroll {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.2rem;
}

@media screen and (max-width: 480px) {
  .infiniteScroll {
    display: grid;
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 0.8rem;
    height: 100%;
    width: 100%;
  }
}