@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  border-radius: 0.3rem;
  outline: 2px solid white;
}

:root {
  --box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  --main-background-color: #111111;
  --text-color: white;
  --hover-color: rgb(13, 116, 220);
  --page-padding: 5rem 25rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
  margin-top: -1.2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color)
}

/* Header nav links */
nav {
  position: relative;
  top: 3rem;
  z-index: 10;
  display: flex;
  gap: 1rem;
  color: #FFFFFF;
}

nav > a {
  text-decoration: none;
}

nav > a:visited {
  color: inherit;
  text-decoration: none;
}

.active-link {
  font-weight: bold;
  color: black;
}

.more-news-link, .read-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
}

/* HOME PAGE */
.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-background-color);
  width: inherit;
}

.home-hero-image {
  display: absolute;
  height: 30rem;
  background-color: #393939;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--page-padding);
}

/* Search bar */
.home-search-bar-container {
  display: flex;
  gap: 0.5rem;
  background-color: #4D4D4D;
  border-radius: 8px;
  padding: 1rem;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.search-icon path {
  width: 1.2rem;
  stroke: #7B7B7B;
}

.home-search-bar {
  all: unset;
  padding: 0.4rem 1rem;
  width: 80vw;
  text-align: left;
  color: white;
  font-size: 1.2rem;
}

.home-search-bar::placeholder {
  color: #7B7B7B;
  font-weight: 500;
}

/* Latest News */
.home-news-container {
  text-align: left;
}

.home-news-header {
  display: flex;
  justify-content: space-between;
}

.home-news-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.home-news-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 20rem;
  width: 25rem;
  box-shadow: var(--box-shadow);
}

.home-news-image-container {
  display: flex;
  gap: 1rem;
}

.home-news-image {
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
}

.home-news-date {
  font-size: 0.7rem;
}

.home-news-title {
  font-size: 0.9rem;
  font-weight: 400;
}

/* Trending */
.trending-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.trending-card {
  display: flex;
  gap: 2rem;
  height: 15rem;
  width: 100%;
}

.trending-img {
  height: 15rem;
  width: 25rem;
  border-radius: 0.2rem;
}

.trending-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: pre-wrap;
}

.trending-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.trending-synopsis {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.read-more-link-container {
  display: flex;
}

.read-more-link {
  display: flex;
  font-size: 0.8rem;
  gap: 0.8rem;
}

.read-more-link > img {
  height: 1rem;
}

.carousel-buttons-container {
  position: absolute;
  display: flex;
  gap: 0.7rem;

  top: 81.2rem;
  left: 37rem;
}

.carousel-btn {
  all: unset;
  background-color: #757575;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.active-carousel-btn {
  background-color: white;
  width: 2rem;
  border-radius: 10rem;
  cursor: default;
}

.slideshow {
  max-width: 100%;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 800ms;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 15rem;
}

/* Upcoming */
.upcoming-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.upcoming-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.upcoming-card {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  width: 15rem;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
}

.upcoming-img {
  height: 20rem;
  width: 15rem;
  border-radius: 0.2rem;
}

.upcoming-text-and-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.days-left-text {
  font-size: 0.7rem;
}

.upcoming-title {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Popular */
.popular-container {
  text-align: left;
}

.popular-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.popular-card {
  display: flex;
  gap: 1rem;
}

.popular-img {
  width: 4rem;
  height: 6rem;
  border-radius: 0.3rem;
}

.popular-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popular-title {
  font-weight: 400;
}

.popular-finished-date {
  font-size: 0.8rem;
}

.popular-type {
  font-size: 0.8rem;
}

.popular-score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  background-color: #616161;
}

.see-more-btn {
  all: unset;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #616161;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
}

.see-more-btn:focus {
  outline: 2px solid white;
}

/* ANIME LIST */
.animeList-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--page-padding);
  width: 100%;
  min-height: 100vh;
}

.animeList-hero-image-container {
  width: 100%;
  height: 12rem;
  background-color: #777777;
  border-radius: 0.6rem;
}

/* Search and Genres */
.animeList-search-and-genres-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.3rem;
}

.search-bar-and-button-container {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.3rem;
}

.search-bar-container {
  display: flex;
  gap: 1rem;
  flex: 1;
  background-color: #232323;
  padding: 0.8rem;
  border-radius: inherit;
}

.search-bar-container:focus-within {
  outline: 2px solid white;
}

.animeList-search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animeList-search-icon-container > svg {
  width: 1rem;
}

.search-bar {
  all: unset;
  width: 100%;
  font-size: 0.8rem;
}

.genres-btn {
  all: unset;
  background-color: #686868;
  padding: 0rem 1.3rem;
  border-radius: inherit;
  font-size: 0.9rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
}

.genres-btn:focus {
  outline: 2px solid white;
}

.carrot-down-icon {
  width: 0.8rem;
}

.genre-tags-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(6.5rem, 1fr));
  grid-template-rows: repeat(3, 2.5rem);
  gap: 0.6rem;
}

.genre-tag {
  border-radius: 10rem;
  background-color: #686868;
  color: inherit;
}

.genre-tag:focus {
  outline: none;
  border: 2px solid white;
}

.animeList-title-and-filter {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.select-carrot-down-container {
  display: flex;
}

/* CUSTOM SELECT */
.custom-select {
  position: relative;
}

.custom-select > select {
  display: none;
}

.options-container {
  text-align: center;
  position: absolute;
  right: -0.9rem;
  bottom: -12rem;
  width: calc(100% + 4rem);
  border-radius: 1rem;
}

.option-item {
  color: white;
  background-color: rgb(42, 42, 42);
  cursor: pointer;
  padding: 0.5rem 0rem;
}

.option-item:hover {
  background-color: var(--hover-color);
}

.option-item:focus {
  outline: 2px solid white;
}

.selected-option {
  color: white;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  width: 9.8rem;
}

.selected-option:focus {
  outline: 2px solid white;
}

.option-selected {
  background-color: var(--hover-color);
  cursor: default;
}

.option-hidden {
  display: none;
}

.carrot-down-icon {
  width: 0.9rem;
  transition: 200ms ease;
}

.carrot-active {
  transform: rotate(180deg)
}

/* Anime List Cards Container */
.animeList-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Anime Detail Page */
.detail-title {
  text-align: center;
}

.image-and-facts {
  display: flex;
  gap: 1rem;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.synopsis {
  font-size: 1rem;
  line-height: 1.6rem;
}

/* SEARCH */
.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.genre-tag {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.genre-active {
  background-color: green;
}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.search-result-card > * {
  text-align: center;
}

.search-result-card {
  border-radius: 0.6rem;
  width: 15rem;
  padding: 2rem 2rem;
  box-shadow: var(--box-shadow)
}

.search-img {
  height: 15rem;
  width: 10rem;
  cursor: pointer;
}