@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  border-radius: 0.3rem;
  outline: 2px solid white;
}

:root {
  --box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  --main-background-color: #111111;
  --text-color: white;
  --hover-color: rgb(13, 116, 220);
  --page-padding: 5rem 25rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
  margin-top: -1.2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color)
}

.news-trending-default-div {
  height: 18rem;
  width: 100%;
}

/* Header nav links */
nav {
  position: relative;
  top: 3rem;
  display: flex;
  z-index: 10;
  gap: 1rem;
  color: #FFFFFF;
}

nav > a {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
}

nav > a:visited {
  color: inherit;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

/* More news, read more */
.more-news-link, .read-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
}


/* See More Btn */
.see-more-btn {
  all: unset;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #616161;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
}

.see-more-btn:focus {
  outline: 2px solid white;
}