.container {
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3rem;
}

.cardsContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.7rem;
}

.defaultDiv {
  height: 20rem;
  width: 100%;
}

.moreNewsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  height: max-content;
}

.moreNewsLink > img {
  height: 1rem;
}

.moreNewsLink > span {
  color: var(--yellow-color);
}

@media screen and (max-width: 480px) {
  .container {
    width: inherit;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr))
  }
  
  .moreNewsLink {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .moreNewsLink > img {
    height: 0.8rem
  }
}