.container {
  text-align: left;
  width: 100%;
  /* display: none; remove */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3rem;
}

.cardsContainer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, minmax(5rem, 1fr));
  gap: 0.7rem;
}

.defaultDiv {
  height: 20rem;
  width: 100%;
}

.moreNewsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  height: max-content;
}

.moreNewsLink > img {
  height: 1rem;
}

.moreNewsLink > span {
  color: var(--yellow-color);
}

@media screen and (min-width: 320px) {
  .cardsContainer {
    grid-template-columns: repeat(3, minmax(4rem, 1fr))
  }
  
  .moreNewsLink {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .moreNewsLink > img {
    height: 0.8rem
  }
}
@media screen and (min-width: 480px) {
  .cardsContainer {
    grid-template-columns: repeat(4, minmax(4rem, 1fr))
  }
}

@media screen and (min-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(5, minmax(5rem, 1fr));
  }

  .moreNewsLink {
    gap: 1rem;
    font-size: 1.2rem;
  }

  .moreNewsLink > img {
    height: 1rem
  }
}