.container {
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: -3rem;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
}

.defaultDiv {
  height: 20rem;
  width: 100%;
}