.newsCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
  gap: 1rem;
} 

.anchorContainer {
  display: flex;
  justify-content: center;
  height: 18rem;
  width: inherit;
  border-radius: 0.5rem;
  overflow: hidden;
}

.anchorContainer:focus-visible {
  outline-offset: 0px;
} 

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.titleAndDate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date {
  font-size: 0.9rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  transition: var(--default-transition-time);
}

.title:hover {
  color: var(--link-hover-color);
}