.newsCard {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 100%;
  width: 10.8rem;
} 

.anchorContainer {
  display: flex;
  justify-content: center;
  height: 19.2rem;
  width: 10.8rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.anchorContainer:focus-visible {
  outline-offset: 0px;
} 

.date {
  font-size: 0.8rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  transition: var(--default-transition-time);
}

.title:hover {
  color: var(--link-hover-color);
}