.newsCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: inherit;
} 

.anchorContainer {
  display: flex;
  justify-content: center;
  height: inherit;
  width: inherit;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.anchorContainer:focus-visible {
  outline-offset: 0px;
} 

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.titleAndDate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date {
  font-size: 0.9rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  transition: var(--default-transition-time);
}

.title:hover {
  color: var(--link-hover-color);
}

@media screen and (max-width: 480px) {
  .newsCard {
    gap: 0.5rem;
  }
  .anchorContainer {
    height: inherit;
  }
}