.container {
  text-align: left;
}

.container > h2 {
  margin-bottom: 2rem;
}

.sectionTitle {
  color: var(--yellow-color);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* See More Btn */
.seeMoreBtn {
  all: unset;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: var(--yellow-color);
  color: #111111;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  transition: var(--default-transition-time)
}

.seeMoreBtn:hover {
  background-color: var(--yellow-hover-color);
}

.seeMoreBtn:focus-visible {
  outline: 2px solid white;
}

@media screen and (max-width: 480px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 0.8rem;
    height: 100%;
    width: 100%;
    margin-top: -1rem;
  }

  .seeMoreBtn {
    padding: 1rem 4rem;
  }
}